body {
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(210, 197, 180);
  font-weight: bold;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
}
.oppe {
  background-color: #8b7861;
}

.pic {
  width: 50px;
}

.doto- {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.list {
  color: rgb(86, 86, 86);
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  list-style: square;
}

.list2 {
  color: rgb(86, 86, 86);
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  list-style: square;
}

.list3 {
  color: rgb(86, 86, 86);
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  list-style: square;
}

.navn {
  box-sizing: border-box;
}

.email {
  box-sizing: border-box;
}

.besked {
  box-sizing: border-box;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}
